/* PALETA SIVIR */
:root {
  --bg: #000007;
  --card: #08001d;
  --card2: #0b0124;
  --accent: #00c8ff;
  --accent2: #0096ff;
  --text: #dff8ff;
  --muted: #7bb5c9;
  --radius: 14px;
  --glow: 0 0 18px rgba(0, 200, 255, 0.25);
  --soft: rgba(255,255,255,0.06);
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: var(--card2);
  padding: 20px;
  box-shadow: var(--glow);
  height: 100vh;
  position: fixed;
}

.logo {
  width: 45px;
  border-radius: 6px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-header h2 {
  margin: 5px 0 0;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-item {
  padding: 10px 12px;
  border-radius: 8px;
  color: var(--text);
  text-decoration: none;
  background: var(--soft);
  transition: 0.25s;
}

.nav-item:hover {
  background: rgba(0,200,255,0.15);
}

.nav-item.logout {
  background: rgb(255, 0, 0);
}

.nav-item.active {
  background: rgb(121, 0, 0);
}

/* MAIN */
.main {
  margin-left: 240px;
  padding: 40px;
  width: calc(100% - 240px);
}

.topbar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tag {
  background: rgba(0,200,255,0.15);
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: var(--accent);
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  margin: 25px 0;
}

.card {
  flex: 1;
  padding: 20px;
  background: var(--card2);
  border-radius: var(--radius);
  border: 1px solid var(--soft);
  box-shadow: var(--glow);
}

.card p {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 700;
}

.status-ok {
  color: #0eff83;
}

/* SEÇÕES */
.box {
  background: var(--card);
  padding: 25px;
  border-radius: var(--radius);
  border: 1px solid var(--soft);
  margin-bottom: 30px;
  box-shadow: var(--glow);
}

.form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  background: var(--soft);
  color: var(--text);
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0);
}

input:focus {
  border-color: var(--accent);
  box-shadow: 0 0 15px rgba(0,200,255,0.3);
}

/* BOTÕES */
.btn {
  background: linear-gradient(90deg, var(--accent), var(--accent2));
  border: 0;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: 0.2s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: var(--glow);
}

.btn-delete {
  background: #ff002f;
  border: 0;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.btn-delete:hover {
  box-shadow: 0 0 12px rgb(255, 0, 60);
}

/* TABELA */
.table {
  width: 100%;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 120px;
  padding: 12px 10px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.table-header {
  font-weight: 700;
  opacity: .85;
}

.table-row:hover {
  background: rgba(255,255,255,0.06);
}

.disabled {
  opacity: .4;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* empurra o footer para baixo */
  height: 100vh;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 100px;
  margin-top: auto;  /* fixa no final */
  padding-bottom: 10px;
}

.footer-btn {
  text-align: center;
  background: rgba(255, 255, 255, 0.06);
}

